#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:rootroot
  expire: False

users:
  - name: root
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDRTyiJTAA+DmaxE5m1CcnqgieAUg08vkmL31Sd7E95mgHHypbRkiRTRtUjpmnixhQgKraH0+G2sIpbR/TjwkHBm/pVcpor1XIZD75s2EjwGbk3syjOml1xdpoyeNSAIGSzoWtQGcFdmvZp9dW7v+/LXu8e5dDTlO8dDfVXtdFHQrTDIaPyuJNOUWeehtBwlWcsWxhY7+cZUk1lsUop9+u32dBW4LxDBCXMgvudfALN3ttxCXfDDBpVsrcItyjBu532gs/RWOg3TbycGxcCcQRa65wbbKBlA939xizUe8SZGJIhELkMDIcbCnhVdWVlGomzgdyDRlRfDjb4D7ZHLBK0KC8IkR58Y+hKNsZCr3MRLfjKbfHP2k+SSM4HBhqQYJ73boNpQ19Vomemxe6gr1dv+pCbA5wASiKtHpnDivYNrB44rKksMekFWPQs7UH4zw6PNDM5cBqbeofmBJM8tAAx8l1tLB94DouCxmULuaqWGoG/zRUKd8fpfDM3dZjbvJbBMruvjy3/Df5JgGBXL1DcVYUWCvlVPhcD6aR6LhnQg6bwvk2xp/cQBBVNiu4s+WWojzxZst+1ww/5tFRNzPCD5pk4Qv8ucwk8WgjvvEh1Tz8PUznnpkCmQwFdz7zKmM5oINk1rC4rTexpX+1BAKtkDYJh3+wchodO96O+T/NuXQ== yannig@dell-xps
